################################
# Server                       #
################################
PORT=3000
WHITELIST=http://localhost:5173
NODE_ENV=development

################################
# Database                     #
################################
DATABASE_NAME=sql-editor
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_LOGGING=true

################################
# JWT                          #
################################
ACCESS_TOKEN_SECRET=access-token-secret
REFRESH_TOKEN_SECRET=refresh-token-secret
ACCESS_TOKEN_TTL=300 # 5 minutes
REFRESH_TOKEN_TTL=86400 # 1 day